.ant-page-header {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: inherit;
    background-color: transparent;
}

.ant-page-header-heading-left {
    display: inline;
    overflow: initial;
}

.ant-page-header-heading-title {
    font-weight: 300;
    font-size: 30px;
}